<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Explore bikeshare data</title>
	<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
	<form>
		<input type="button" value="Next page of raw data" onclick="window.location.href='{{ url_for('raw_data', city=city, month=month, day=day, from_raw_data=True, counter=counter) }}';"></input>
		<input type=button value="Start over" onclick="window.location.href='{{ url_for('bikeshare') }}';"></input>
	</form>
  <h3>
    {{ data_as_html | safe}}
  </h3>
	<form>
		<input type="button" value="Next page of raw data" onclick="window.location.href='{{ url_for('raw_data', city=city, month=month, day=day, from_raw_data=True, counter=counter) }}';"></input>
		<input type=button value="Start over" onclick="window.location.href='{{ url_for('bikeshare') }}';"></input>
	</form>
</body>
